/* imported fonts from www.fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200&display=swap'); /* Poppins */ 
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');  /* Lobster*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap'); /* Nova */

/* Css variables */
:root {
	--header-height: 3rem;
	--font-semi: 600;
}
/* Colors */
:root {
	--first-color: #4070f4;
	--second-color: #0e2431;
}
/* Fonts and Typography */
:root {
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 0.938rem;
	}
}
/* Margins */
:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}
/* Z-index */
:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}
/* GENERAL BASE STYLES AND RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overflow: hidden;
}
.scroll {
	overflow-y: scroll !important;
	scroll-behavior: smooth;
}
/*
.sr { 
    visibility: hidden;
}
*/

body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
}
h1,
h2,
p {
	margin: 0;
}
.tee {
        font-family: 'Nova Flat', cursive; 
	color: var(--first-color);
}
nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
/* loader */
.loader {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	background-color: #ffffff;
}
#loader-text {
	font-family: 'Lobster', cursive;
	font-size: var(--big-font-size);
	color: var(--first-color);
	transform: scale(1);
	animation: loaderBlur ease 2s infinite;
}
.remove-loader {
	animation: fadeOut 3s;
	animation-fill-mode: forwards;
}

/* fadeout animation */
@keyframes loaderBlur {
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes fadeOut {
	100% {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
/* css classes */
.section-title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}
.section-title::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}
.section {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
/* LAYOUT */
.grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% -2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background: linear-gradient(to right, #f5f5f5b9, #ffffffb7);
	box-shadow: 0 0 25px #0e24318a, inset 0 0 1px rgba(18, 175, 247, 0.377);
}
/* NAV */
.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);
}
/* FOR MOBILE */
@media screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		top: var(--header-height);
		right: -100%;
		width: 80%;
		height: 100%;
		padding: 2rem;
		background-color: var(--second-color);
		transition: 0.5s;
	}
	.show {
		right: 0;
	}
}

.nav-item {
	margin-bottom: var(--mb-4);
}
.nav-link {
	position: relative;
	color: #ffff;
}
.nav-link:hover {
	position: relative;
}

.nav-link:hover::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0.18rem;

	left: 0;
	top: 1.5rem;
	background-color: var(--first-color);
}

.active::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 1.5rem;
	background-color: var(--first-color);
}

.nav-logo {
	color: var(--second-color);
}
.nav-toggle {
	color: var(--second-color) !important;
	cursor: pointer;
	font-size: 1.5rem;
}
/* Home */
.home {
	height: calc(100vh - 3rem);
	row-gap: 1rem;
}
.home-data {
	align-self: center;
}
.home-title {
	font-size: var(--big-font-size);
	margin-bottom: var(--mb-3);
}
.home-title:hover {
	text-shadow: 0 30px 50px rgba(0, 0, 0, 0.452);
}
.home-title-color {
	color: var(--first-color);
	font-family: 'Lobster', cursive;
	letter-spacing: 4px;
}
.home-social {
	display: flex;
	flex-direction: column;
}
.home-social-icon {
	width: max-content;
	margin-bottom: var(--mb-2);
	font-size: 1.5rem;
	color: var(--second-color);
}
.home-social-icon:hover {
	color: var(--first-color);
}
.home-img {
	position: absolute;
	right: 0;
	margin-right: 5px;
	bottom: 1%;
	width: 200px;
	height: auto;
	border-radius: 150px;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
#green-whatsapp:hover {
	color: rgb(89, 207, 74);
}
/* Media query for smaller devices below 300px width */
@media screen and (max-width: 300px) {
	.home-social-icon {
		font-size: 1.1rem;
	}
	.home-img {
		width: 125px;
		height: auto;
	}
	.home-title {
		font-size: 1.5rem;
		margin-top: var(--mb-3);
	}
}
/* Buttons */
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #ffffff;
	padding: 0.75rem 2.5rem;
	border-radius: 0.5rem;
}
.button:hover {
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
/* About Section */

.about-container {
	row-gap: 2rem;
	text-align: center;
}

.about-subtitle {
	margin-bottom: var(--mb-2);
}
.about-img {
	justify-self: center;
}
.about-img img {
	width: 200px;
	border-radius: 0.5rem;
}
.about-text,
.skills-text {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: #111;
	font-weight: 400;
	text-align: justify;
}
/* Skills */
.skills {
	row-gap: 2rem;
	text-align: center;
}
.skills-subtitle {
	margin-bottom: var(--mb-2);
}
.skills-text {
	margin-bottom: var(--mb-4);
}

.skills-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-size: var(--font-semi);
	padding: 0.5rem 1rem;
	margin-bottom: var(--mb-4);
	border-radius: 0.5rem;
	box-shadow: 0 3px 15px rgba(16, 36, 49, 0.15);
}
.skills-data:hover {
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
}
.skills-icon {
	font-size: 2rem;
	margin-right: var(--mb-2);
}
/* Tech skill icons */
#html-icon.skills-icon,
#git-icon {
	color: orangered;
}
#css-icon.skills-icon,
#react-icon {
	color: var(--first-color);
}
#js-icon.skills-icon {
	color: rgba(226, 226, 13, 0.767);
}

.skills-names {
	display: flex;
	align-items: center;
}

.skills-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--first-color);
	height: 0.25rem;
	border-radius: 0.5rem;
	z-index: var(--z-back);
}

.skills-html {
	width: 95%;
}

.skills-css {
	width: 80%;
}
.skills-js {
	width: 70%;
}

/* Work */

.work {
	text-align: center;
}
.work-container {
	row-gap: 2rem;
}
.work-img {
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
	border-radius: 0.5rem;
	overflow: hidden;
}

.work-img img {
	transition: 1s ease;
	cursor: pointer;
}
.work-img img:hover {
	transform: scale(1.2);
}
/* Contact Form */

.contact-input {
	width: 100%;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi);
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1.5px solid var(--second-color);
	outline: none;
	margin-bottom: var(--mb-4);
}
.contact-input:focus {
	border: 1.5px solid var(--first-color);
}
textarea {
	resize: none;
}
textarea::placeholder {
	font-family: var(--body-font);
}

.contact-button {
	display: block;
	border: none;
	outline: none;
	font-size: var(--normal-font-size);
	margin-left: auto;
}

/* Footer */
.footer {
	background-color: var(--second-color);
	color: #ffff;
	text-align: center;
	font-size: var(--font-semi);
	padding: 2rem 0;
}

.footer-title {
	font-size: 2rem;
	margin-bottom: var(--mb-4);
	cursor: pointer;
}

.footer-social {
	margin-bottom: var(--mb-4);
}
.footer-icon {
	font-size: 1.5rem;
	color: white;
	margin: 0 var(--mb-2);
}
/* Media Queries for ipad and smaller tablets */
@media screen and (min-width: 766px) {
	body {
		margin: 0;
	}
	.section {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
	.section-title {
		margin-bottom: var(--mb-4);
	}
	.section-title::after {
		width: 80px;
		top: 3rem;
	}
	/* NavBar */
	.nav {
		height: calc(var(--header-height) + 1rem);
	}
	.nav-list {
		position: fixed;
		display: flex;
		align-content: flex-end;
		justify-items: flex-end;
		right: 10px;
		top: 0;
		padding-top: 0;
	}
	.nav-item {
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav-toggle {
		display: none;
	}
	.nav-link {
		color: var(--second-color);
	}
	/* Home section */
	.home {
		height: 100vh;
	}
	.home-data {
		align-self: flex-end;
		margin: 1rem;
		/* position: relative !important;
      left: 0; */
	}
	.home-title {
		position: relative;
		left: 0;
		margin: 1rem;
		display: block;
	}
	.home-social {
		margin: 1rem;
		padding-top: 0;
		padding-bottom: 2.5rem;
		flex-direction: row;
		align-self: flex-start;
	}

	.home-social-icon {
		margin-bottom: 0;
		margin-right: var(--mb-4);
	}
	.home-img {
		width: 325px;
		border-radius: 300px;
		margin-right: 10px;
		height: auto;
		bottom: 5%;
		background-attachment: fixed;
	}
	/* About Section */

	.about-img,
	.skills-container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: initial;
	}
	.about-img img {
		width: 300px;
	}

	.work-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 2rem;
	}

	/* Contact form */
	.contact-form {
		width: 360px;
	}
	.contact-container {
		justify-items: center;
	}
}
/* Media ipad pro and pc */
@media screen and (min-width: 1024px) {
	.grid {
		margin-left: auto;
		margin-right: auto;
	}
	.nav-logo {
		position: absolute !important;
		left: 0px;
		top: 0px;
		margin-left: var(--mb-5);
		margin-top: var(--mb-2);
	}
	.home-img {
		background-attachment: fixed;
		bottom: 1%;
	}
}
/*  */
@media screen and (min-width: 1026px) {
	.home-data {
		display: block;
		position: relative;
		left: -10%;
	}
	.home-title {
		line-height: 100px;
		font-size: 4.5rem;
		text-align: left;
	}
	.home-social {
		display: block;
		position: relative;
		left: -10%;
	}
}

@media (min-width: 1040px) and (max-width: 1155px) {
	.home-data {
		display: block;
		position: relative;
		left: -3%;
	}
	.home-social {
		display: block;
		position: relative;
		left: -3%;
	}
}
@media (min-width: 1026px) and (max-width: 1034px) {
	.home-data {
		display: block;
		position: relative;
		left: -1%;
	}
	.home-social {
		display: block;
		position: relative;
		left: -1%;
	}
}
@media (min-width: 1034px) and (max-width: 1043px) {
	.home-data {
		display: block;
		position: relative;
		left: -1%;
	}
	.home-social {
		display: block;
		position: relative;
		left: -1%;
	}
}
